.page__search {
  &__section {
    text-align: center;
    height: 200px;
    margin: 6rem auto 1rem;
  }
  &__logo {
    width: 200px;
  }
  &__input {
    padding: 1rem;
    width: 300px;
    border: 1px solid var(--primary);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
}
