.navigation__bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: var(--white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  .navigation__dropdown__image,
  .navigation__dropdown__text {
    margin-right: 0.8rem;
  }
}
