:root {
  --primary: #5c5c5c;
  --secondary: #fafbfc;
  --black: #000000;
  --text-gray: #91929e;
  --input-gray: #c4c4c4;
  --pill-gray: #dcdcdf;
  --white: #ffffff;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  background-color: var(--secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,
p {
  color: var(--text-gray);
}

// utility classes
.my-1 {
  margin: 1rem;
}
.my-1-5 {
  margin: 1.5rem;
}
